
.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-feature-settings: "ss07";
    font-size: 25px;
    margin-top: -4%;
    padding: 1%;
    color: rgb(0, 73, 49);
    
    
    
    
   
}

.container {
    border: 2px solid #15ff00;
    width: 35%;
    border-bottom: 20px;
    padding: 50px;
    margin-top: 7%;
    background-color: aqua;
    background-color: #f6f6f6;
    border-radius: 5%;


}

#imgUser {
    border-radius: 48%;
    border: 5px solid (#00005C);
    width: 100px;
    padding: 1px;
    margin-top: 3%;
    margin-bottom: 5%;
}

.form-group{
    margin-inline: 0;
}

.logar{
    margin-top: 1px;
    margin-left: 82%;
    border-radius: 25%;
    width: 100%;
}
